---
import MainLayout from '../layouts/MainLayout.astro';
import TailwindTest from '../components/TailwindIntegrationTest.astro';
---

<MainLayout title="Tailwind CSS v4 Integration Test">
  <main class="min-h-screen bg-background">
    <TailwindTest />
  </main>
</MainLayout>