---
import MainLayout from '../layouts/MainLayout.astro';
import TailwindIntegrationTest from '../components/TailwindIntegrationTest.astro';
---

<MainLayout title="Visual Customization Test">
  <main class="min-h-screen bg-background">
    <div class="container mx-auto py-8">
      <TailwindIntegrationTest />
    </div>
  </main>
</MainLayout>